*__pycache__*
*.pid
**/.DS_Store
app/env/
docker_files
frontend/dist/*
frontend/uploads/*
frontend/dist-admin/*
frontend/node_modules/*
frontend/instance.config.js
static/uploads/*
docs/build/*
frontend/uploads/*
!static/uploads/unisound.js
!static/uploads/instreamatic.min.css
frontend/index.html
frontend/npm-debug.log
frontend/package-lock.json
node_modules
package-lock.json
alembic.ini
pylama.ini
backups/
npm-debug.log

